<!DOCTYPE html>

<!-- DEPLOYED WITH [FWVERSION] -->
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body style="margin: 0;">
    
	<div id="content" style="display: table; width: 100%" >
		<div class="filler content-row" style="background: blue !important"></div>
        <div class="content-row">

		    <!-- Begin TAG -->
	    	<div>
	            <!--[if gt IE 8]><!-->
		        <script type="text/javascript" src="http://ad-prod.adcade.com/2/tiny/[AD_ID]/pl/0/?cb=CACHEBUSTER;noMargin=true;canvasPositioning=absolute"></script>
	            <noscript>
                    <a href="http://ad-prod.adcade.com/2/backup/ext/[AD_ID]/pl/0/" target="_blank">
                    	<img src="http://ad-prod.adcade.com/2/noscript/imp/[AD_ID]/pl/0/CACHEBUSTER" style="border-style: none;" />
                    </a>
	            </noscript>
	            <!--<![endif]-->
	            <!--[if lte IE 8]>
                    <a href="http://ad-prod.adcade.com/2/backup/ext/[AD_ID]/pl/0/" target="_blank">
                        <img src="http://ad-prod.adcade.com/2/backup/imp/[AD_ID]/pl/0/key/ie8/CACHEBUSTER" style="border-style: none;"/>
                    </a>
	            <![endif]-->
	        </div>
			<!-- End of TAG -->

		</div>
	</div>

</body>
</html>