<!DOCTYPE html>

<!-- DEPLOYED WITH [FWVERSION] -->
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!--
<script type="text/javascript" src="http://[LOCAL_IP]/ads/framework/sources/libs/require.js"></script>
-->
<script type="text/javascript" src="http://[LOCAL_IP]/ads/framework/sources/libs/require-adscript.js"></script>
</head>
<body style="margin: 0;">
<style>
	.top-bottom{
		width: 100%;
		height: 50px;
	}
	.content-row{
		display: table-cell;
		background: #aaa !important;
	}
	.filler{
		font-family: Arial, Verdana;
		background: #e6e6e6;
		border: 1px solid transparent;
 	}
 	.left{
 		width: 200px;
 	}
</style>
	<div class="filler top-bottom"></div>
    
	<div id="content" style="display: table; width: 100%">
		<div class="filler content-row left"></div>
        <div class="content-row">


		    <!-- Begin TAG -->
	    	<div>
	            <!--[if gt IE 8]><!-->
	  			<script type="text/javascript" src="http://[LOCAL_IP]/adscript-loader/src/adtiny/adcadetiny.js?adId=[AD_ID];local=http://[LOCAL_IP]/ads/staging/[LOCAL_PATH_TO_AD]/dev/assets/js/require.conf.js"></script>
	            <!--<![endif]-->
	        </div>
			<!-- End of TAG -->


        </div>
		<div class="filler content-row"></div>
	</div>

	<div class="filler top-bottom"></div>


	<!-- conditionally add wienre and/or fps meter -->
	<script type="text/javascript">

		// get query string params
		var getParameterByName = function(name)
		{
		    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)'),
		        results = regex.exec(location.search);
		    return results == null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		};

		// create script element
		var scripts = document.getElementsByTagName('script');
		var script = document.createElement('script');
		var node = scripts[scripts.length - 1];


		//----------------------------------------------------------------------
		//
		// add weinre
		//
		//----------------------------------------------------------------------
		var mobile = getParameterByName('mobile');
		if(mobile === 'true' && node !== undefined)
		{
			// url = 'http://staging.adcade.com:48080/target/target-script-min.js#anonymous';
            url = 'http://[LOCAL_IP]:8080/target/target-script-min.js#anonymous';
			var weinreScript = document.createElement('script');
			weinreScript.setAttribute('src', url);
			node.parentNode.appendChild(weinreScript);
		}

	</script>

	<script src='//[LOCAL_IP]:3000/socket.io/socket.io.js'></script>
	<script>var ___socket___ = io.connect('http://[LOCAL_IP]:3000');</script>
	<script src='//[LOCAL_IP]:3001/client/browser-sync-client.0.8.2.js'></script>

</body>
</html>