<!DOCTYPE html>

<!-- DEPLOYED WITH [FWVERSION] -->
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!-- 
<script type="text/javascript" src="http://[LOCAL_IP]/ads/framework/sources/libs/require-adscript.js"></script>
-->
<script type="text/javascript" src="http://[LOCAL_IP]/ads/framework/sources/libs/require.js"></script>
</head>
<body style="margin: 0;">
<style>
	.top-bottom{
		width: 100%;
		height: 50px;
	}
	.content-row{
		display: table-cell;
		background: #aaa !important;
	}
	.filler{
		font-family: Arial, Verdana;
		background: #e6e6e6;
		border: 1px solid transparent;
 	}
 	.left{
 		width: 200px;
 	}
</style>
	<div class="filler top-bottom"></div>
    
	<div id="content" style="display: table; width: 100%">
		<div class="filler content-row left"></div>
        <div class="content-row">


		    <!-- Begin TAG 
	        <script type="text/javascript" src="http://adcade.com/demo/lib/js/loader/adcadetiny-v221-min.js?adId=[AD_ID];local=http://adcade.com/demo/[STAGE_PATH_TO_AD]/stage/assets/js/main-built.js"></script>
		    -->
	        <script type="text/javascript" src="http://resource.adcade.com/ad-assets/NELTESTT01/lib/adcadetiny-stage.js?adId=[AD_ID]"></script>
	    	<div>
	            <!--[if gt IE 8]><!-->
		        <script type="text/javascript" src="https://resource-adcade.s3.amazonaws.com/ad-assets/NELTESTT01/lib/adcadetiny-stage.js?adId=[AD_ID]"></script>
	            <noscript>
                    <a href="http://ad-prod.adcade.com/2/backup/ext/[AD_ID]/pl/0/" target="_blank">
                    	<img src="http://ad-prod.adcade.com/2/noscript/imp/[AD_ID]/pl/0/CACHEBUSTER" style="border-style: none;" />
                    </a>
	            </noscript>
	            <!--<![endif]-->
	            <!--[if lte IE 8]>
                    <a href="http://ad-prod.adcade.com/2/backup/ext/[AD_ID]/pl/0/" target="_blank">
                        <img src="http://ad-prod.adcade.com/2/backup/imp/[AD_ID]/pl/0/key/ie8/CACHEBUSTER" style="border-style: none;"/>
                    </a>
	            <![endif]-->
	        </div>
			<!-- End of TAG -->


        </div>
		<div class="filler content-row"></div>
	</div>

	<div class="filler top-bottom"></div>


	<!-- conditionally add wienre and/or fps meter -->
	<script type="text/javascript">

		// get query string params
		var getParameterByName = function(name)
		{
		    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)'),
		        results = regex.exec(location.search);
		    return results == null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		};

		// create script element
		var scripts = document.getElementsByTagName('script');
		var script = document.createElement('script');
		var node = scripts[scripts.length - 1];


		//----------------------------------------------------------------------
		//
		// add weinre
		//
		//----------------------------------------------------------------------
		var mobile = getParameterByName('mobile');
		if(mobile === 'true' && node !== undefined)
		{
			// url = 'http://staging.adcade.com:48080/target/target-script-min.js#anonymous';
            url = 'http://10.0.1.9:8080/target/target-script-min.js#anonymous';
			var weinreScript = document.createElement('script');
			weinreScript.setAttribute('src', url);
			node.parentNode.appendChild(weinreScript);
		}


		//----------------------------------------------------------------------
		//
		// add fps meter
		//
		//----------------------------------------------------------------------
		document.fps = getParameterByName('fps');
		if(document.fps === 'true' && node !== undefined)
		{
			url = 'assets/js/lib/fpsmeter.min.js';
			var fpsScript = document.createElement('script');
			fpsScript.setAttribute('src', url);
			node.parentNode.appendChild(fpsScript);
		}

	</script>

</body>
</html>