/*variables ------------------------------------------*/

/* numbers */
$headerH: 65px;
$footerH: 50px;

/* colors */
$grey: #dfe2e6;
$lightGrey: #f5f7fa;
$navGrey: #687888;
$navRed: #ff4d5e;

/* fonts */
$reg: 'proxima_nova_rgregular', 'Helvetica', 'sans serif';
$semibold: 'proxima_nova_semibold', 'Helvetica', 'sans serif';
$bold: 'proxima_nova_rgbold', 'Helvetica', 'sans serif';