<li>
    <div class="icon-song"><a href="#"><img src="{{image}}" alt="icon" /></a></div>
    <div class="content">
        <p class="title"><a href="#">{{album}}</a></p>
        <p class="list-desc"><a href="#">{{title}}</a></p>
    </div>
</li>
