/* fonts */

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('fonts/proxima_nova_light.eot');
  src: url('fonts/proxima_nova_light.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_light.woff2') format('woff2'),
       url('fonts/proxima_nova_light.woff') format('woff'),
       url('fonts/proxima_nova_light.ttf') format('truetype'),
       url('fonts/proxima_nova_light.svg#proxima_nova_ltlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('fonts/proxima_nova_light_italic.eot');
  src: url('fonts/proxima_nova_light_italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_light_italic.woff2') format('woff2'),
       url('fonts/proxima_nova_light_italic.woff') format('woff'),
       url('fonts/proxima_nova_light_italic.ttf') format('truetype'),
       url('fonts/proxima_nova_light_italic.svg#proxima_novalight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('fonts/proxima_nova_regular.eot');
  src: url('fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_regular.woff2') format('woff2'),
       url('fonts/proxima_nova_regular.woff') format('woff'),
       url('fonts/proxima_nova_regular.ttf') format('truetype'),
       url('fonts/proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Italic';
  src: url('fonts/proxima_nova_regular_italic.eot');
  src: url('fonts/proxima_nova_regular_italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_regular_italic.woff2') format('woff2'),
       url('fonts/proxima_nova_regular_italic.woff') format('woff'),
       url('fonts/proxima_nova_regular_italic.ttf') format('truetype'),
       url('fonts/proxima_nova_regular.svg#proxima_nova_regular_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('fonts/proxima_nova_semibold.eot');
  src: url('fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_semibold.woff2') format('woff2'),
       url('fonts/proxima_nova_semibold.woff') format('woff'),
       url('fonts/proxima_nova_semibold.ttf') format('truetype'),
       url('fonts/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('fonts/proxima_nova_bold.eot');
  src: url('fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_bold.woff2') format('woff2'),
       url('fonts/proxima_nova_bold.woff') format('woff'),
       url('fonts/proxima_nova_bold.ttf') format('truetype'),
       url('fonts/proxima_nova_bold.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold Italic';
  src: url('fonts/proxima_nova_bold_italic.eot');
  src: url('fonts/proxima_nova_bold_italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_bold_italic.woff2') format('woff2'),
       url('fonts/proxima_nova_bold_italic.woff') format('woff'),
       url('fonts/proxima_nova_bold_italic.ttf') format('truetype'),
       url('fonts/proxima_nova_bold_italic.svg#proxima_novabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url('fonts/proxima_nova_extrabold.eot');
  src: url('fonts/proxima_nova_extrabold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima_nova_extrabold.woff2') format('woff2'),
       url('fonts/proxima_nova_extrabold.woff') format('woff'),
       url('fonts/proxima_nova_extrabold.ttf') format('truetype'),
       url('fonts/proxima_nova_extrabold.svg#proxima_nova_thextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
